Django
serial
gunicorn
django-environ
python-decouple
dj_database_url
whitenoise
openai

google.generativeai
numpy 
time
from 
ZoneInfo
dotenv
os
Groq
random
diary.forms
serial   #pyserial
cv2
dlib
datetime
pprint
cv2  
