Django
serial
gunicorn
django-environ
python-decouple
dj_database_url
whitenoise
openai

google.generativeai


 
ZoneInfo
dotenv
os
Groq
random
diary.forms
serial   #pyserial
dlib
datetime
pprint
opencv-python
